p.text-dark
        span.font-weight-bold Quedaría así
        br 
        span <code>&lt;section id="my_container"&gt;
        br
        span.d-inline-block.ml-3 &lt;div class="sweetbox-item"&gt;
        br
        span.d-inline-block.ml-5 &lt;img src="...small-image.png" class="sweetbox-small-img"&gt;
        br
        span.d-inline-block.ml-5 &lt;img src="...large-image.png" class="sweetbox-large-img"&gt;
        br
        span.d-inline-block.ml-3 &lt;/div&gt;
        br
        span.d-inline-block.ml-3 &lt;div class="sweetbox-item"&gt;
        br
        span.d-inline-block.ml-5 &lt;img src="...small-image.png" class="sweetbox-small-img"&gt;
        br
        span.d-inline-block.ml-5 &lt;img src="...large-image.png" class="sweetbox-large-img"&gt;
        br
        span.d-inline-block.ml-3 &lt;/div&gt;
        br
        span.d-inline-block.ml-3 &lt;div class="sweetbox-item"&gt;
        br
        span.d-inline-block.ml-5 &lt;img src="...small-image.png" class="sweetbox-small-img"&gt;
        br
        span.d-inline-block.ml-5 &lt;img src="...large-image.png" class="sweetbox-large-img"&gt;
        br
        span.d-inline-block.ml-3 &lt;/div&gt;
        br
        p Todos los items que desees...
        span &lt;/section&gt;</code>