<div id="sweetbox-container" class="card-columns text-center">
    <div class="card sweetbox-item">
        <img src="https://images.unsplash.com/photo-1559657153-fdea6cd5ddf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top sweetbox-small-img" alt="Weed">
        <img src="https://images.unsplash.com/photo-1559657153-fdea6cd5ddf7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top sweetbox-large-img" alt="Weed">
        p.sweetbox-description-img Descripci贸n de imagen 1
    </div>
    <div class="card sweetbox-item">
        <img src="https://images.unsplash.com/photo-1559657693-e816ff3bd9af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top sweetbox-small-img" alt="Weed">
        <img src="https://images.unsplash.com/photo-1559657693-e816ff3bd9af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top sweetbox-large-img" alt="Weed">
        p.sweetbox-description-img Descripci贸n de imagen 2
    </div>
    <div class="card sweetbox-item">
        <img src="https://images.unsplash.com/photo-1559658550-077da704211b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img-top sweetbox-small-img" alt="Weed">
        <img src="https://images.unsplash.com/photo-1559658550-077da704211b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img-top sweetbox-large-img" alt="Weed">
        p.sweetbox-description-img Descripci贸n de imagen 3
    </div>
    <div class="card sweetbox-item">
        <img src="https://images.unsplash.com/photo-1559556627-a3948005f42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top sweetbox-small-img" alt="Weed">
        <img src="https://images.unsplash.com/photo-1559556627-a3948005f42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top sweetbox-large-img" alt="Weed">
        p.sweetbox-description-img Descripci贸n de imagen 4
    </div>
</div>