p.description Deberás tener un contenedor principal para las imágenes, el cual debe tener un ID
    .alert.alert-light
        p.text-dark
            span <code>&lt;section id="my_container"&gt;&lt;/section&gt;</code>
    p.description Dentro del contenedor, tendrás que crear un nuevo elemento que agrupe las imágenes, debe tener la clase 
        span.font-weight-bold .sweetbox-item
        br
    p Dentro de cada item deberás agregar las dos imágenes (No importa el orden) la imagen pequeña tendrá la clase 
        span.font-weight-bold sweetbox-small-img 
        span y la imagen grande 
        span.font-weight-bold sweetbox-large-img 
        br
        span ésta última será la que se mostrará en el lightbox.