p.description Agrega los archivos 
    span.font-weight-bold sweetbox.min.css y 
    span.font-weight-bold sweetbox.min.js 
    span a tu proyecto.
.alert.alert-success
    p.text-dark
        span.font-weight-bold sweetbox.min.css 
        span solo agrega estilos al lightbox, así que puedes utilizar los estilos o el framework que desees para tus imágenes.