extends layout/template

block main
    include components/welcome
    .docs.container.mt-5
        .row
            .col-md-8.offset-md-2
                h2.mt-5 Demo
                include components/demo
                h2.subtitle.mt-5 Empezando
                include components/start
                h2.subtitle.mt-5 Estructura HTML
                include components/html
                    include components/code_example
                h2.mt-5 Inicializa la librería
                include components/javascript
                h2.mt-5 Opciones
                include components/options
                h2.mt-5 ¿Consultas o sugerencias?
                p.text-dark.lead.mb-5 Contáctame en 
                    a(href="https://github.com/codeerick95", target="_blank").font-weight-bold github 
                    span o escríbeme a 
                    span.font-weight-bold dev.erick95@gmail.com